* {
    box-sizing: border-box;
}

/* Style the body */
body {
    font-family: Arial, Helvetica, sans-serif;
	/* height: 100% */
    margin: 0;
}

/*  HERO IMAGE */
.hero {
    /* Sizing */
    width: 100vw;
    height: 50vh;

    /* Flexbox stuff */
    display: flex;
    justify-content: center;
    align-items: center;
	/* Opacity */
	opacity: 0.5;
	filter: alpha(opacity=50); /* For IE8 and earlier */

    /* Background styles */
    background-image: url('brickell.jpg'), url('sf.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}


/* Style the top navigation bar */

/* Style the tab */
.nav {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #333;
	/* position: fixed;
	top: 0;
	width: 100%; */
}
/* Style the buttons inside the tab */
.nav a {
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 20px;
    transition: 0.3s;
    font-size: 17px;
	float: left;
	display: block;
	text-align: center;
	text-decoration: none;
}
/* Change background color of buttons on hover */
.nav a:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.nav a.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

/* Column container */
.row {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
}


/* Sidebar/left column */
.side {
    -ms-flex: 30%; /* IE10 */
    flex: 30%;
    background-color: #f1f1f1;
    padding: 20px;
}

/* Card Profile */
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
}

.title {
    color: grey;
    font-size: 18px;
}

button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

a {
    text-decoration: none;
    font-size: 22px;
    color: black;
}

button:hover, a:hover {
    opacity: 0.7;
}

/* Main column */
.main {
    -ms-flex: 70%; /* IE10 */
    flex: 70%;
    background-color: white;
    padding: 20px;
}

/* Footer */
.footer {
    padding: 20px;
    text-align: center;
    background: #ddd;
}


@media screen and (max-width: 700px) {
    .row {
        flex-direction: column;
    }
}


@media screen and (max-width: 400px) {
    .tab a {
        float: none;
        width: 100%;
    }
}
